@import url('https://fonts.googleapis.com/css?family=Capriola');

body {
    font-family: 'Capriola';
    text-align: center;
    background: #00AFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h1 {
    width: 500px;
    align-self: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#container {
    display: flex;
    width: 70vw;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 85vh;
    justify-content: space-around;
}

#container, #scoreboard, h1 {
    margin: 10px;
    background: white;
    border: 5px solid #3D4C99;
    border-radius: 3px;
    padding: 15px;
}

button, li {
    background-color: #3D4C99;
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    font-size: 1.2em;
    transition-duration: 50ms;
    box-shadow: 2px 2px 4px -3px rgba(0,0,0,.7);
    border-radius: 500px;
}

button:hover, li:hover {
    cursor: pointer;
    background-color: #FF8C40;
    transform: scale(1.01);
    text-shadow: 1px 1px rgba(0,0,0,.7);

}

li {
    list-style: none;
}

h3 {
    display: block;
    font-size: 1.5em;
}

#scoreboard {
    height: 30vh;
    width: 15vw;
}
